body {
  font-family: century;
  color: lemonchiffon;
  text-shadow: 1px 1px 1px black;
  /* background-color: darkseagreen;
  background-color: #48395d;
  background-color: #4abee091; */
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #99c9ff, #275796);
  background-size: cover;
}

a {
  color: inherit;
}

li {
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #3769b1, #0b2b3a);
  box-shadow: 0 0 20px black;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}



.header-home-link, .phone a {
  color: inherit;
  text-decoration: none;
}

.header-home-link img {
  width: 35px;
  float: left;
  padding: 5px;
}

.header-home-link:hover img {
  transform: scale(1.5);
}


.header-logo,
.phone {
  width: 170px;
  padding: 10px;
}

.phone {
  text-align: right;
}

nav {
  display: flex;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
  position: relative;
}

ul.menu a {
  transition: 0.3s;
}

ul.menu > li > a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

ul.menu > li > a:hover {
  color: black;
  background-color: white;
  text-shadow: none;
}

ul.submenu {
  display: none;
  position: absolute;
  width: 160px;
  top: 37px;
  left: 0;
  background-color: #2c55a0;
  box-shadow: 0 5px 10px #00000088;
}

ul.submenu > li {
  display: block;
  width: 100%;
}

ul.submenu > li > a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #2c55a0;
  text-decoration: none;
}

ul.submenu > li.selected > a {
  color: black;
  background-color: white;
  text-shadow: none;
}

ul.submenu > li > a:hover {
  color: black;
  background-color: white;
  text-shadow: none;
}

ul.menu > li:hover > ul.submenu {
  display: block;
}

nav ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

.menu .selected {
  border-bottom: 1px solid white;
}

.order-btn {
  position: absolute;
  left: 50%;
  top: 38px;
  transform: translateX(-50%);
  border: 1px solid white;
  padding: 20px;
  background: green;
}

.vignette {
  position: fixed;
  /* to prevent empty space around the vignette */
  top: 0;
  left: 0;
  /* extends to the whole visible area */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.8) inset;
  z-index: -1;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 80vh;
}

main {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  /* background-color: #16674d;
  background-color: #1a315deb; */
  background: linear-gradient(to top, #1e3a6dd9, #5087d0);
  border-radius: 15px;
  box-shadow: 0 0 110px #00000085;
  padding: 16px 50px;
  padding-bottom: 32px;
  text-align: center;
}

main ul {
  text-align: left;
}

.home-page p {
  text-align: center;
}

p {
  font-size: 24px;
  text-align: left;
}

ol > li {
  text-align: left;
  padding: 10px 0;
}

p img {
  width: 100%;
  margin: 20px 0;
}

.logo {
  filter: drop-shadow(0 0 136px white);
  filter: drop-shadow(0 0 4px white);
  width: 400px;
}

.title {
  font-size: 84px;
  line-height: 1;
  margin: 0;
  font-family: Cambria;
  font-weight: bold;
  text-shadow: 0 0 10px black, 0 0 20px black;
  color: #b1daf3;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.prices table {
  overflow-y: scroll;
}

.prices table, th, td {
  border: 1px dotted black;
  font-family: sans-serif;
}

.prices main {
  max-width: 70%;

}

.prices th, td {
  padding: 5px;
  width: 140px;
}

.prices tbody tr:hover {
  background-color: darkgreen;
}

.prices tbody td:hover {
  background-color: green;
}

.rooms-cats {
  width: 375px;
  display: block;
  margin: 0 auto;
}

.rooms-cats a {
  color: inherit;
}

.gallery img {
  border: 5px solid white;
  box-shadow: 0 0 13px black;
  margin: 5px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.docs-items {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

.docs-item {
  display: flex;
  flex-direction: column;
  width: 240px;
  transition: 0.4s;
  border-radius: 5px;
}

.docs-item:hover {
  color: black;
  transition: 0.4s;
  background-color: inherit;
  background: linear-gradient(to top, #2c4b85, #5f99e3);
  transform: scale(1.1);
  box-shadow: 0 0 80px #00000085;
}

.docs-item:active {
  transition: 0s;
  transform: scale(1);
  box-shadow: 0 0 20px #00000085;
}

.docs-item a {
  text-decoration: none;
  padding: 20px 10px 0 10px;
}

.docs-item a:hover {
  color: black;
}

.docs-item p {
  color: lightgray;
  transition: color 0.3s;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}


.medical-services {
  display: none;
  border: 1px dotted white;
  border-radius: 15px;
  padding: 10px;
}

.medical-services li {
  font-size: 18px;
}

.medical-services ul {
  display: none;
}

.medical-services p {
  border-bottom: 1px dotted white;
  padding: 5px 0;
  margin: 0;
}

.medical-services p:hover {
  cursor: pointer;
  color:
}

.bottom-pano {
  background-image: url(../images/bottom-pano.png);
  height: 400px;
  background-size: cover;
  position: absolute;
  bottom: 100%;
  width: 100%;
  z-index: -1;
}

footer {
  position: relative;
  /*bottom: 0;*/
  width: 100%;
  height: 100px;
  background-color: #1a315deb;
  background-image: linear-gradient(to top, #414d697d, #67c0ffad);
  box-shadow: 0 0 20px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
