{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% do assets.addCss('theme://css/featherlight.css', 99) %}
    {% do assets.addCss('theme://css/featherlight.gallery.css', 98) %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.addJs('theme://js/featherlight.js', 99) %}
    {% do assets.addJs('theme://js/featherlight.gallery.js', 98) %}
{% endblock %}

{% block body %}

    <div class="wrapper gallery">
        <main>
          {% block content %}
            {{ page.content }}
          {% endblock %}
        </main>
    </div>

{% endblock %}
