{% block order %}

  <section class="order">

      <div class="order-container order-hide">
        <button id="close">X</button>
        <h1>Оформите заявку на бронирование</h1>
        <p>Заполните форму <br> и отправьте нам заявку на бронирование номера:</p>
        <form class="order-form" action="http://localhost/north/order.php" method="post">
          <div class="input input-name">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" placeholder="Как к Вам обращаться" required>
          </div>
          <div class="input input-phone">
              <label for="phone">Телефон / e-mail</label>
              <input type="text" id="phone" name="phone" placeholder="Как с Вами связаться" required>
          </div>
          <div class="input input-category">
              <label for="category">Категория номера</label>
              <select name="category" id="category">
                <option value="Стандарт">Стандарт</option>
                <option value="1 категория">1 категория</option>
                <option value="Комфорт">Комфорт</option>
              </select>
          </div>
          <div class="input input-additions">
            <label><input type="checkbox" name="singleperson">Одноместное размещение в номере</label>
            <label><input type="checkbox" name="medical" checked>Лечение</label>
          </div>
          <div class="input input-begin">
            <label for="begin">Дата заселения</label>
            <input type="date"
              value="{{ "now"|date("Y-m-d") }}"
              min="{{ "now"|date("Y-m-d") }}"
              max="2018-12-31"
              id="begin"
              name="begin" required>
          </div>
          <div class="input input-end">
            <label for="end">Дата выселения</label>
            <input type="date"
              id="end"
              value="{{ "tomorrow"|date("Y-m-d") }}"
              min="{{ "tomorrow"|date("Y-m-d") }}"
              max="2018-12-31"
              name="end" required>
          </div>
          <div class="input input-message">
            <label for="additional_info">Дополнительная информация</label>
            <textarea id="additional_info" name="additional_info" rows="8" cols="80" placeholder="Впишите сюда ваши пожелания или любую другую интересующую информацию"></textarea>
          </div>
          <!-- <div class="cost">
            <p>Ориентировочная стоимость:</p>
            <p>8354 руб.</p>
          </div> -->

          <input type="submit" class="form-button"></input>
        </form>
      </div>

      <div class="order-confirm hidden" id="order">
        <h2 class="order-confirm-head is-center">Спасибо за заказ!</h2>
        <p class="order-confirm-text">В ближайшее время мы с вами свяжемся</p>
        <button type="button" class="ok-button">X</button>
        <!-- <h2><i class="fa fa-check-circle"></i></h2> -->
      </div>

  </section>

{% endblock %}
