{% block order %}

  <section class="order">

      <div class="order-container">
        <h1>Оформите заявку на бронирование</h1>
        <p>Заполните поля и отправьте нам заявку на бронирование номера</p>
        <form action="https://echo.htmlacademy.ru" method="post">
          <label>Имя<input type="text" name="name" important></label>
          <label>Телефон<input type="text" name="phone"></label>
          <label>Категория номера<input type="text" name="category"></label>
          <label>Дата заселения<input type="date" name="begin"></label>
          <label>Дата выселения<input type="date" name="end"></label>
          <input type="submit"></input>
        </form>
      </div>

  </section>

{% endblock %}
